@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Work+Sans&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(static/bg-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.intro {
    color: #55CEE1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 3px;
}

.top {
    align-items: center;
    justify-content: center;
    display: block;
}

.saber {
    background-color: blue;
    height: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    filter: blur(2px);
    animation: extendFromLeft 1s ease-in-out forwards, flicker 10s infinite;
    background-image: linear-gradient(blue, white 50%, blue);
}

nav {
    padding: 10px;
    text-align: center;
    font-family: 'Archivo Narrow';
    font-size: 15px;
    margin-top: 10%;
    width: 50%;
    margin: auto;
}
  
nav ul {
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-top: 0.5%;
    padding: 0;    
}
  
nav li {
    display: inline-block;
    margin: 0 20px;
}
  
nav a {
    color: #FFE919;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 25px;
    border-radius: 4px;
    margin: 20px 19px;
    background-color: transparent;
}

nav a:hover {
    text-shadow: 0 0 2px #ffe919, 0 0 20px #ffe919;
}

.welcome {
    text-align: justify;
    width: 45%;
    margin: auto;
    font-size: 35px;
    color: #ffe919;
    font-family: 'Work Sans';
    transform: perspective(800px) rotateX(40deg);
}

.greet {
    text-align: center;
}

.name-text {
    text-align: justify;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;    
    color: #FFE919;
    font-size: 100px;
    font-style: bold;
    letter-spacing: 5px;
    word-spacing: 5px;
    margin: auto;
}

.name-text:hover {
    text-shadow: 0 0 2px #ffe919, 0 0 20px #ffe919;
}

@keyframes flicker {
    0% {
        opacity: 0.8;
        filter: blur(1px);
        box-shadow: 0 0 20px 10px blue;
        
    }
    50% {
        opacity: 1;
        filter: blur(1px);
        box-shadow: 0 0 20px 10px blue;
    }
    100% {
        opacity: 0.8;
        filter: blur(1px);
        box-shadow: 0 0 20px 10px blue;
    }
}

@keyframes extendFromLeft {
    0% {
        width: 0;
        transform: translateX(0%);
    }
    100% {
        width: 45%;
        transform: translateX(0);
    }
}

@keyframes flare {
    0% {
        box-shadow: 0 0 14px 4px rgba(0,0,255,0.5);
    }
    50% {
        border: 0px;
    }
    100% {
        box-shadow: 0 0 14px 4px rgba(0,0,255,0.7);
    }
}

@media (max-width: 1700px) {
    nav li {
        display: block;
    }
      
    nav a {
        font-size: 40px;
        padding: 10px 25px;
        margin: 20px 19px;
    }    

    .welcome {
        width: 60%;
        font-size: 25px;
    }
    
    .greet {
        font-size: 100px;
    }
    
    .name-text {
        font-size: 100px;
    }

    .intro {
        font-size: 25px;
    }

    @keyframes extendFromLeft {
        0% {
            width: 0;
            transform: translateX(0%);
        }
        100% {
            width: 60%;
            transform: translateX(0);
        }
    }    
}

@media (max-width: 1100px) {
    .welcome {
        width: 70%;
        font-size: 25px;
    }
    
    .greet {
        font-size: 75px;
        letter-spacing: 10px;
    }
    
    .name-text {
        font-size: 80px;
        letter-spacing: 7px;
    }
      
    nav li {
        display: block;
    }
      
    nav a {
        font-size: 25px;
    }

    .intro {
        font-size: 20px;
    }

    @keyframes extendFromLeft {
        0% {
            width: 0;
            transform: translateX(0%);
        }
        100% {
            width: 80%;
            transform: translateX(0);
        }
    }
}

@media (max-width: 705px) {
    .intro {
        font-size: 15px;
    }

    @keyframes extendFromLeft {
        0% {
            width: 0;
            transform: translateX(0%);
        }
        100% {
            width: 90%;
            transform: translateX(0);
        }
    }
    
    .greet {
        font-size: 60px;
        letter-spacing: 0px;
    }

    .name-text {
        font-size: 55px;
        letter-spacing: 7px;
    }

    .welcome {
        width: 80%;
        font-size: 20px;
    }
}