@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Source+Code+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(static/bg-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.intro {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 3px;
}

.top {
    align-items: center;
    justify-content: center;
    display: block;
}

.saber {
    background-color: green;
    height: 7px;
    margin: auto;
    border-radius: 20px;
    background-image: linear-gradient(yellow, green, white, green, yellow);
    filter: blur(2px);
    animation: flicker 10s infinite;
    margin-top: 10px;
    width: 62%;

}

.top-text {
    text-align: center;
    text-align: center;
    color: white;
    width: 60%;
    font-family: 'Archivo Narrow', sans-serif;    
    color: #FFE919;
    font-size: 100px;
    font-style: bold;
    transform: perspective(700px) rotateX(45deg);
    letter-spacing: 10px;
    word-spacing: 12px;
    margin: auto;
}

@keyframes flicker {
    0% {
        opacity: 0.8;
        filter: blur(2px);
        box-shadow: 0 0 20px 10px green;
    }
    25% {
        opacity: 1;
        filter: blur(2px);
        box-shadow: 0 0 25px 12px green;
    }
    50% {
        opacity: 1;
        filter: blur(2px);
        box-shadow: 0 0 25px 15px green;
    }
    75% {
        opacity: 1;
        filter: blur(2px);
        box-shadow: 0 0 25px 12px green;
    }

    100% {
        opacity: 0.8;
        filter: blur(2px);
        box-shadow: 0 0 20px 10px green;
    }
}