@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Work+Sans&display=swap');


.top {
    align-items: center;
    justify-content: center;
    display: block;
}

.welcome {
    text-align: justify;
    width: 45%;
    margin: auto;
    font-size: 35px;
    color: #ffe919;
    font-family: 'Work Sans';
    transform: perspective(800px) rotateX(40deg);
}

.greet {
    color: #55CEE1;
    letter-spacing: 12px;
    text-align: center;
}

.name-text {
    text-align: justify;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;    
    color: #FFE919;
    font-size: 100px;
    font-style: bold;
    letter-spacing: 5px;
    word-spacing: 5px;
    margin: auto;
}

.name-text:hover {
    text-shadow: 0 0 2px #ffe919, 0 0 20px #ffe919;
}



@media (max-width: 1700px) {
    .welcome {
        width: 60%;
        font-size: 25px;
    }
    
    .greet {
        font-size: 100px;
    }
    
    .name-text {
        font-size: 100px;
    }
}

@media (max-width: 1115px) {
    .welcome {
        width: 70%;
        font-size: 25px;
    }
    
    .greet {
        font-size: 75px;
        letter-spacing: 10px;
    }
    
    .name-text {
        font-size: 80px;
        letter-spacing: 7px;
    }
}

@media (max-width: 705px) {    
    .greet {
        font-size: 60px;
        letter-spacing: 0px;
    }

    .name-text {
        font-size: 55px;
        letter-spacing: 7px;
    }

    .welcome {
        width: 80%;
        font-size: 20px;
    }
}