* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Ubuntu', 'Noto Sans';
    color: white;
    overflow-x: hidden;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

nav {
    display: flex;
    margin: 0% 1%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    background-color: #212121;
    width: 40%;
    border-radius: 50px;
}

nav, .logo, .gh {
    padding: 1%;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: lighter;
}

nav a:hover {
    font-weight: bolder;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    border-radius: 50px;
}

.m {
    width: 50px;
}

.icon a img {
    height: 50px;
}

.links {
    width: 30%;
    margin: auto;
}

.social {
    display: flex;
    align-items: center;
    justify-content: first baseline;
}

.uname {
    padding: 2%;
    font-size: 28px;
    margin-left: 2%;
}

.social {
    margin-top: 1%;
}


.icon {
    padding: 1.5%;
}

.icon, .uname {
    background-color: #171717;
    border-radius: 70px;
}