@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Work+Sans&display=swap');

.gitcon {
    background-color: transparent;
    border: 3px solid #ffe919;
    border-radius: 3px;
    padding: 3%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center along the x-axis */
    text-align: left;
    width: 50%;
    margin: auto;
    margin-top: 0.5%;
    transform: perspective(800px) rotateX(20deg);
    box-shadow: 0 0 20px 7px #ffe919, 0 0 20px 7px #ffe919;
}

.stats, .langs {
    width: 80%; /* Adjusted width for better centering */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center along the x-axis */
    margin: auto;
}

.langs {
    margin-left: 3%;
}

.stat, .lang {
    width: 100%;
}

.langs {
    margin-top: 20px; /* Adjusted margin for better spacing */
}

.masthead {
    color: #ffe919;
    margin-bottom: 2%;
    font-family: monospace;
    text-align: center;
    width: 100%;
    font-size: 25px;
    text-shadow: 0 0 20px 7px #ffe919;
}

.masthead h1:hover {
    text-shadow: 0 0 2px #ffe919, 0 0 20px #ffe919;
}

.wt {
    display: flex;
    flex-direction: row;
}

.wakatime {
    background-color: transparent;
    border: 3px solid #ffe919;
    border-radius: 3px;
    padding: 3%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    transform: perspective(800px) rotateX(20deg);
    box-shadow: 0 0 20px 7px #ffe919, 0 0 20px 7px #ffe919;
}

.activity {
    width: 80%;
    margin: auto;
}

.statistics {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
}
