.myfaceimg {
    flex-shrink: 0;
    width: 40%;
    height: auto;
    border-radius: 5px;
    padding: 7px;
    border: 3px solid white;
}

.archimg {
    flex-shrink: 0;
    width: 45%;
    height: auto;
}

.arch .hometext .intro {
    white-space: nowrap;
    border-right: 3px solid white;
    overflow: hidden;
    animation: typing 3s steps(18) alternate infinite;
}

.deskimg {
    width: 100%;
    border-radius: 6px;
    margin-top: 4%;
    border-radius: 6px;
    outline: 3px solid yellow;
    outline-offset: 5px;
}

.welcome, .arch {
    align-items: flex-start;
    width: 70%;
    background-color: #171717;
    padding: 2%;
    margin: auto;
    border-radius: 6px;
    display: flex;
    padding: 2%;
    margin-top: 1%;    
}

.hometext {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    width: 70%;
}

.subtext {
    font-size: 25px;
    margin-top: 5px;
    font-weight: lighter;
}

.subtext a {
    text-decoration: none;
    color: grey;
}

.subtext a:hover {
    font-weight: bold;
}

.intro {
    font-size: 60px;
}

@keyframes typing {
    0% {
        width: 0%;
    }
    100% {
        width: 527px;
    }
}